apiVersion: v1
kind: Service
metadata:
  name: java-demo-service
  namespace: java-demo
  labels:
    app: java-demo-app
spec:
  selector:
    app: java-demo-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer